@charset "utf-8";
/* CSS Document */
body
{
	margin:0px;
    background-image:url(imgs/books.jpg);
}

.head
{
	font-family:"Trebuchet MS";
	font-size:40px;
	color:#FFF;
	margin-left:50px;
}
#banner
{
	width:99.5%;
	height:100px;
	border:2px solid #FFF;
	background-color:rgba(0,0,0,0.7);
}
.clg
{
	font-family:"Segoe UI";
	font-size:16px;
	color:#FF0;
}
#wrapper
{
	width: 55%;
    padding: 20px 0px;
	border-radius:10px;
	border:2px solid #FFF;
	background-color:rgba(31, 32, 30, 0.896);
}
.SubHead
{
	font-family:"Segoe UI";
	color:rgba(255, 255, 255, 0.84);
	font-size:20px;
}
.labels
{
	font-family:"Trebuchet MS";
	font-size:20px;
	color:rgb(19, 8, 2);
}
.fields
{
	font-family:"Trebuchet MS";
	font-size:16px;
	color:#FF3;
	border-radius:5px;
	padding:4px 6px;
	border:1px solid #FF3;
	background-color:transparent;
}

.table
{
	border-radius:5px;
	padding:5px 10px;
	border:1px solid rgb(196, 196, 192);
	background-color:transparent;
}
a.link:link{font-family:"Segoe UI";font-size:16px;color:#FFF;text-decoration:none;}
a.link:active{font-family:"Segoe UI";font-size:16px;color:#FFF;text-decoration:none;}
a.link:visited{font-family:"Segoe UI";font-size:16px;color:#FFF;text-decoration:none;}
a.link:hover{font-family:"Segoe UI";font-size:16px;color:rgb(227, 43, 43);text-decoration:none;}
.msg
{
	font-family:"Segoe UI";
	color:#6F6;
	font-size:13px;
}
a.Command:link{text-decoration:none;font-family:"Segoe UI";color:#CFC;font-size:16px;padding:5px 7px;border:2px solid #FF0;border-radius:5px;}
a.Command:active{text-decoration:none;font-family:"Segoe UI";color:#CFC;font-size:16px;padding:5px 7px;border:2px solid #FF0;border-radius:5px;}
a.Command:visited{text-decoration:none;font-family:"Segoe UI";color:#CFC;font-size:16px;padding:5px 7px;border:2px solid #FF0;border-radius:5px;}
a.Command:hover{text-decoration:none;font-family:"Segoe UI";color:#CFC;font-size:16px;padding:5px 7px;border:2px solid #F60;border-radius:5px;box-shadow:0px 0px 10px #FFFFFF;}
